@keyframes fadeIn {
	0%		{ background:rgba(255,255,255,0); }
	100%	{ background:rgba(255,255,255,1); }
}

@keyframes shake {
	0%		{ transform:rotate(0); }
	10% 	{ transform:rotate(8deg); }
	20% 	{ transform:rotate(-8deg); }
	30% 	{ transform:rotate(4deg); }
	40% 	{ transform:rotate(-4deg); }
	50%		{ transform:rotate(2deg); }
	60%		{ transform:rotate(-2deg); }
	70%		{ transform:rotate(0deg); }
	100%	{ transform:rotate(0deg); }
}

@keyframes spin {
	0%		{ transform:rotate(0) translateX(-50%) translateY(-50%) scale(1);}
	100%	{ transform:rotate(360deg) translateX(-50%) translateY(-50%) scale(1);}
}

@keyframes scrollRealTimeData {
	0%		{ transform:translateY(-52.5%) translateX(55%); }
	100%	{ transform:translateY(-52.5%) translateX(-100%); }
}

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}
