@media (max-width: 1100px), (max-device-width: 1100px) {

	#monologueContainer {
		width:50%;
	}

	#captionContainer {
		left:15px;
		transform:none;
		font-size:20px;
		line-height:1em;
		padding:15px;
	}

	#cursor,
	#cursor.pause {
		width:50px !important;
		height:50px !important;
		top:12px !important;
		left:220px !important;
		transform:none;
	}

	#monologueContainer.larger {
		width:75%;
	}
}

@media (max-width: 600px), (max-device-width: 600px) {

	#cursor,
	#cursor.pause {
		top:80px !important;
		left:50% !important;
		transform:translateX(-50%);
	}

	#monologueContainer {
		width:60%;
	}

	#monologueContainer.larger {
		width:90%;
		border-radius:8px;
	}

	#captionContainer {
		bottom:80px;
		right:15px;
		line-height:1.2em;
	}
}
